.bm-burger-button {
  position: fixed;
  width: 33px;
  height: 25px;
  left: 45px;
  top: 45px;
}

.bm-burger-bars {
  background: rgba(200, 200, 200, 0.3);
}

.bm-burger-bars-hover {
  background: rgba(175, 175, 175, 0.5);
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #111;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #111;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.screen-error404-main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0b0b0b;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.screen-error404-main-container img {
  -webkit-filter: drop-shadow(0px 0px 15px rgba(255, 226, 130, 0.938));
  filter: drop-shadow(0px 0px 15px rgba(255, 226, 130, 0.938));
  margin-top: 5%;
}
.screen-error404-main-container .screen-error404-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  color: #ccc;
}
.screen-error404-main-container .screen-error404-container h2 {
  margin-top: 10px;
}
.screen-error404-main-container .screen-error404-container p {
  font-size: 60px;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(155, 155, 155, 0.1);
}
.screen-error404-main-container .screen-error404-container .botaoVoltar {
  margin-top: 20px;
}

.screen-home-main-container {
  width: 100%;
  position: absolute;
  background-color: #0b0b0b;
}
@media screen and (max-width: 823px) {
  .screen-home-main-container .bg {
    width: 100%;
    height: 400px;
    display: fixed;
    background-image: url("https://images.wallpapersden.com/image/download/akatsuki-organization-anime_67572_3840x2160.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    margin-bottom: -90px;
  }
}
@media screen and (min-width: 1200px) {
  .screen-home-main-container .bg {
    width: 100%;
    height: 600px;
    display: fixed;
    background-image: url("https://images.wallpapersden.com/image/download/akatsuki-organization-anime_67572_3840x2160.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
    background-position-x: center;
    margin-bottom: -130px;
  }
}
.screen-home-main-container .bg .bg-linear {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0), #0b0b0b), linear-gradient(rgba(0, 0, 0, 0) 5%, #0b0b0b);
}
@media screen and (max-width: 823px) {
  .screen-home-main-container .bg .bg-linear .logo {
    width: 95%;
  }
}
@media screen and (min-width: 1200px) {
  .screen-home-main-container .bg .bg-linear .logo {
    width: auto;
  }
  .screen-home-main-container .bg .bg-linear .logo:hover {
    filter: drop-shadow(0px 0px 10px rgba(241, 181, 49, 0.8));
  }
}
.screen-home-main-container .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin-bottom: 60px;
}
@media screen and (max-width: 823px) {
  .screen-home-main-container .search-container input {
    background-color: #fff;
    width: 90%;
    height: 80px;
    border-radius: 60px;
    border: 0;
    outline: none;
    border: 4px solid #ccc;
    padding: 30px;
    font-size: 22px;
    filter: drop-shadow(0px 0px 10px #0b0b0b);
  }
}
@media screen and (min-width: 1200px) {
  .screen-home-main-container .search-container input {
    background-color: #fff;
    width: 60%;
    height: 80px;
    border-radius: 60px;
    border: 0;
    outline: none;
    border: 4px solid #ccc;
    padding: 30px;
    font-size: 30px;
    filter: drop-shadow(0px 0px 10px #0b0b0b);
  }
}
.screen-home-main-container .top-videos {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin-bottom: 60px;
  background-color: #0b0b0b;
}
.screen-home-main-container .top-videos .thumb-list-container {
  width: 90%;
}
.screen-home-main-container .top-videos .thumb-list-container h2 {
  color: #666;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
}
@media screen and (max-width: 823px) {
  .screen-home-main-container .top-videos .thumb-list-container .thumb-list {
    width: 100%;
    display: flex;
    flex-flow: row;
    overflow: auto;
    padding-bottom: 5px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .screen-home-main-container .top-videos .thumb-list-container .thumb-list {
    width: 100%;
    display: flex;
    flex-flow: row;
    overflow: auto;
    padding-bottom: 5px;
    margin-bottom: 100px;
  }
}
.screen-home-main-container .top-videos .thumb-list-container .thumb-list::-webkit-scrollbar {
  height: 8px;
}
.screen-home-main-container .top-videos .thumb-list-container .thumb-list::-webkit-scrollbar-track {
  background-color: #323232;
  border-radius: 10px;
}
.screen-home-main-container .top-videos .thumb-list-container .thumb-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ff2f2f;
}
@media screen and (max-width: 823px) {
  .screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    width: 375px;
    height: 180px;
    margin-top: 35px;
    margin-bottom: 40px;
    cursor: pointer;
    margin-right: 90px;
  }
  .screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container:first-child {
    padding-left: 75px;
    margin-right: 130px;
  }
}
@media screen and (min-width: 1200px) {
  .screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    width: 475px;
    height: 270px;
    cursor: pointer;
    margin-right: 10px;
  }
  .screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container:hover {
    border-radius: 10px;
    border-bottom: 5px solid #333;
  }
  .screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container:hover img {
    width: 475px;
    height: 265px;
    z-index: 1;
    filter: drop-shadow(0px 0px 5px #000);
  }
  .screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container:hover .description {
    width: 100%;
    padding: 15px;
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
    z-index: 1;
  }
  .screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container:hover .description h2 {
    color: #fff;
    margin: 0;
  }
  .screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container:hover .description span {
    color: #ccc;
  }
}
.screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container img {
  border-radius: 10px;
  width: 450px;
  height: 250px;
}
.screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container .description {
  width: 100%;
  padding: 15px;
  bottom: 0;
  position: absolute;
  margin-bottom: 10px;
}
.screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container .description h2 {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}
.screen-home-main-container .top-videos .thumb-list-container .thumb-list .thumb-container .description span {
  color: #ccc;
}

.screen-watch-main-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #0b0b0b;
}
@media screen and (max-width: 823px) {
  .screen-watch-main-container .bg {
    width: 100%;
    height: 400px;
    display: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    margin-bottom: -90px;
  }
}
@media screen and (min-width: 1200px) {
  .screen-watch-main-container .bg {
    width: 100%;
    height: 600px;
    display: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80px;
    background-position-x: center;
    margin-bottom: -130px;
  }
}
.screen-watch-main-container .bg .bg-linear {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0), #0b0b0b), linear-gradient(rgba(0, 0, 0, 0) 5%, #0b0b0b);
}
.screen-watch-main-container .bg .bg-linear .video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

/*# sourceMappingURL=_global.css.map */
