@media screen and (min-width: 820px) and (max-width: 1199px) {

    .screen-home-main-container {

        width: 100%;
        position: absolute;
        background-color: #0b0b0b;
    
        .bg {

            width: 100%;
            height: 400px;
            display: fixed;
            background-image: url("https://images.wallpapersden.com/image/download/akatsuki-organization-anime_67572_3840x2160.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position-x: center;
            margin-bottom: -90px;
        
            .bg-linear {
    
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background: radial-gradient(circle ,rgba(0,0,0,0), #0b0b0b), linear-gradient(rgba(0,0,0,0) 5%, #0b0b0b);
    
                .logo {
    
                    width: 95%;
    
                    &:hover {

                        filter: drop-shadow(0px 0px 10px rgba(241, 181, 49, 0.8));

                    }
        
                }
        
            }
    
        }
    
        .search-container {
    
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            margin-bottom: 60px;
    
            input {
    
                background-color: #fff;
                width: 90%;
                height: 80px;
                border-radius: 60px;
                border: 0;
                outline: none;
                border: 4px solid #ccc;
                padding: 30px;
                font-size: 22px;
                filter: drop-shadow(0px 0px 10px #0b0b0b);
        
            }
    
        }
    
        .top-videos {
    
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
            margin-bottom: 60px;
            background-color: #0b0b0b;
    
            .thumb-list-container {
    
                width: 90%;
    
                h2 {
    
                    color: #666;
                    font-weight: bold;
                    
                }
    
                .thumb-list {

                    width: 100%;
                    display: flex;
                    flex-flow: row;
                    overflow: auto;
                    padding-bottom: 5px;
                    margin-bottom: 30px;
    
                    &::-webkit-scrollbar {
    
                        height: 8px;
                        
                    }
                    
                    &::-webkit-scrollbar-track {
    
                        background-color: rgb(50,50,50);
                        border-radius: 10px;
    
                    }
                    
                    &::-webkit-scrollbar-thumb {
    
                        border-radius: 10px;
                        background-color: rgb(255, 47, 47);
    
                    }
    
                    .thumb-container {

                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-flow: column;
                        position: relative;
                        width: 375px;
                        height: 180px;
                        margin-top: 35px;
                        margin-bottom: 40px;
                        cursor: pointer;
                        margin-right: 90px;

                        &:first-child {

                            padding-left: 75px;
                            margin-right: 130px;
    
                        }
    
                        &:hover {
                    
                            border-radius: 10px;
                            border-bottom: 5px solid #333;
    
                            img {
            
                                width: 475px;
                                height: 265px;
                                z-index: 1;
                                filter: drop-shadow(0px 0px 5px #000);
    
                
                            }
                                
                            .description {
    
                                width: 100%;
                                padding: 15px;
                                bottom: 0;
                                position: absolute;
                                margin-bottom: 10px;
                                z-index: 1;
    
                                h2 {
    
                                    color: #fff;
                                    margin: 0;
    
                                }
    
                                span {
    
                                    color: #ccc;
    
                                }
    
                            }
                        
                        }
                        
                        img {
            
                            border-radius: 10px;
                            width: 450px;
                            height: 250px;
            
                        }
    
                        .description {
    
                            width: 100%;
                            padding: 15px;
                            bottom: 0;
                            position: absolute;
                            margin-bottom: 10px;
    
                            h2 {
    
                                color: rgba(255,255,255,0.8);
                                margin: 0;
    
                            }
    
                            span {
    
                                color: #ccc;
    
                            }
    
                        }
            
                    }
    
                }
    
            }
    
        } 
     
    }
    

}